
/// Calculate REM from PX value
/// @param $size - value in pixels
/// @example rem(16px) => 1rem
@function rem($size) {
    $remSize: $size / $font-size--base;
    @return $remSize * 1rem;

  }

/// Returns font weight from variant name
/// @param $variant - name of weight variant
/// @example font-weight(bolder) => 900
@function font-weight($variant: regular){
  @return map-get($font-weights,$variant);
}

/// Gets heading size from variant name
/// @param $level - heading level
/// @example heading-size(2) => 2.75rem
@function heading-size($level){
  @return map-get($heading-sizes, $level);
}

/// Gets z-index value from element name
/// @param $element
/// @example z-index(modal) => 1040
@function z-index($element: base){
  @return map-get($z-index, $element);
}
