html,
body {
    font-size: $font-size--base;
    color: $primary;
    line-height: $line-height--base;
    font-weight: font-weight(light);

    @include media($mobile) {
        font-size: 12px;
    }

}

body {
    font-family: $font-family--primary;
    min-width: 320px;
    min-height: 400px;
   
}

section {
    position: relative;
}
.color{
    color:$secondary;
}