/// Ending a row, next element starts in new line
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    zoom: 1;
}

/// Returns font-size in REM with old browsers support
@mixin font-size($size, $base: $font-size--base) {
    font-size: $size; // fallback for old browsers
    font-size: ($size / $base) * 1rem;
}

/// Sets same padding left & right
@mixin padding-lr($value) {
    padding-left: $value;
    padding-right: $value;
}
/// Sets same padding top & bottom
@mixin padding-tb($value) {
    padding-top: $value;
    padding-bottom: $value;
}

/// Sets same margin left & right
@mixin margin-lr($value) {
    margin-left: $value;
    margin-right: $value;
}
/// Sets same margin top & bottom
@mixin margin-tb($value) {
    margin-top: $value;
    margin-bottom: $value;
}

/// Resets margin and padding to 0
@mixin reset {
    margin: 0;
    padding: 0;
}


/// Sets transition with chrome support
/// @param $what - property
/// @param $time - time with metric (example: 0.3s)
/// @param $how - type of animation
@mixin transition($what: all, $time: 0.3s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    transition: $what $time $how;
}



/// Sets same styles for all header types
@mixin all-headers{
    @for $i from 1 through 6{
        h#{$i} {
            @content;
        }
    } 
}


/// @content [Inserts styles into hover & focus statements]
@mixin hover-focus {
    &:hover,&:focus{
        @content;
    }
}

@mixin media($size, $type: max, $dimension: width){
    @if $type=='max' {
      @media all and (#{$type}-#{$dimension}: $size - 1) {
      @content;
      }
    }
    @if $type=='min' {
      @media all and (#{$type}-#{$dimension}: $size) {
        @content;
      }
    }
  }