/// Anchors styling
a {
    color: inherit;
    @include transition;

    @include hover-focus {
        text-decoration: none;
        color: inherit;
    }
}

/// Setting heading styles from headings maps
@for $i from 1 through 6 {

    h#{$i},
    .h#{$i} {
        font-family: $font-family--primary;
        font-size: heading-size($i);
        line-height: map-get($headings-height, $i);

        a {
            color: currentColor;

            @include hover-focus {
                color: currentColor;
            }
        }
    }
}
.big{
    font-size: $big;
    @include media($mobile) {
        font-size: 1.8rem;
    }
}