/// Colors
$bg-color: #eaecdf;
$primary: #354e5a;
$secondary: #ee4d4a;


/// Primary font
$font-family--primary: 'Open Sans', sans-serif;


/// Font weights map
$font-weights: (
lighten: 200,
regular: 400,
bold: 700);

/// Font size base
$font-size--base: 14px;


/// Heading sizes map
$heading-sizes: (
1: 1.714rem,
2: 1.714rem,
3: 1.714rem,
4: 1rem,
5: 1rem,
6: 0.857rem,
big: 2.57rem);

/// Headings line heights map
$headings-height: (
1: 1.05em,
2: 1.25em,
3: 1.25em,
4: 1.22em,
5: 1.375em,
6: 1.22em);
$big: 2.57rem;

$line-height--base: 1.8;
$line-height--sm: 1.2;
$line-height--lg: 2;



// Offsets
$offset--sm: (5px / $font-size--base) * 1rem;
$offset--base: (15px / $font-size--base) * 1rem;
$offset--lg: (30px / $font-size--base) * 1rem;

// Shadows
$box-shadow: none;
$drop-shadow: none;


/// Desktop breakpoint
$desktop: 1200px;
/// Tablet breakpoint
$tablet: 992px;
/// Mobile breakpoint
$mobile: 768px;

$xs: 576px;

$border-radius: 0;