.mosquitos {
    background-color: $bg-color;
    background-image: url(img/bg.jpg);
    background-position: top right;
    background-repeat: no-repeat;


    @include media(1500px) {
        background-size: 90%;
    }

    @include media(500px) {
        background-image: none;
    }

    &__main {
        margin-top: $offset--lg*2;

        @include media(500px) {
            margin-top: $offset--lg;
        }
    }


    &__logo {
        display: flex;
        align-items: center;

        img {
            height: 85px;
            margin-right: 10px;
        }

        margin-bottom: 40px;
    }

    &__logo-big {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        @include media($desktop) {
            position: absolute;
            top: 0;
            right: 0;
        }

        @include media($tablet) {
            display: none;
        }

    }

    &__title {
        .color {
            display: block;
        }

        margin-bottom: $offset--lg;

    }

    &__text {
        margin-bottom: $offset--lg*2;
        width: 91%;

        @include media($desktop) {
            width: 40%;
        }

        @include media($tablet) {
            width: 100%;
            margin-top: 150px;
        }

        @include media($mobile) {
            margin-bottom: $offset--lg;
            margin-top: 100px;
        }

        @include media(500px) {
            margin-top: 0;
        }
    }

    &__tel {
        display: block;
        line-height: 1;
    }

    &__icons {
        margin-top: $offset--lg;
        margin-bottom: 80px;
        display: flex;

        @include media(400px) {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: $offset--lg;
        }
    }

    &__icon {
        &:not(:first-of-type) {
            margin-left: 30px;
        }

        text-align: center;

        @include media(400px) {
            width: 70%;

            &:not(:first-of-type) {
                margin-left: 0;
                margin-top: $offset--lg;
            }
        }

        h6 {

            margin-top: $offset--base;
        }
    }
}